/* Styles for the CV form */
/* Title section */
.title {
    margin-bottom: 20px;
    display:flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.title h1{
    text-align: center;
    flex: 1;
    margin: 0;
    padding-right: 60px;
}
.title a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}


form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

button{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}